#
# Master-Master Manager config (angel)
#

# Debug mode
debug yes

# Paths
pid_path /usr/local/mmm/var/mmm-angel.pid

# Logging setup
log mydebug
    file /opt/mmm/var/angel-debug.log
    level debug

log mytraps
    file /opt/mmm/var/angel-traps.log
    level trap


# Where to send emails on errors
admin_email alexey@kovyrin.net

# How frequently to check services state
check_period 5

#
# Services definitions
#

service mmm_mon_db_8_9_10
    description "Monitoring daemon for db8/9/10"
    command /opt/mmm/mmmd_mon
    pid /opt/mmm/var/mmmd.pid

