#
# Master-Master Manager config (lvm)
#

# Debug mode
debug yes

# This server name
this backup1

# Replication credentials
replication_user replication
replication_password slave

# LVM params
bin_lvcreate /usr/sbin/lvcreate
bin_lvremove /usr/sbin/lvremove

# Path to local dir to place copied files
dest_dir /data/backups/dbr1

# List of snapshot-related paths to clone
clone_dirs mysql

# Default method used for copying files
default_copy_method scp

# Copying methods and restoration command for them
copy_method scp
    command scp -c blowfish -r %SSH_USER%@%IP%:%SNAPSHOT%/%CLONE_DIR% %DEST_DIR%/
    restore_command cp -axv %BACKUP_DIR%/* %DATA_DIR%/

copy_method rsync
    command rsync --progress -av %SSH_USER%@%IP%:%SNAPSHOT%/%CLONE_DIR% %DEST_DIR%/
    restore_command cp -axv %BACKUP_DIR%/* %DATA_DIR%/

copy_method rdiff
    command rdiff-backup --ssh-no-compression -v 5 !--include %SNAPSHOT%/%CLONE_DIR%! --exclude %SNAPSHOT% %SSH_USER%@%IP%::%SNAPSHOT%/ %DEST_DIR%/
    single_run yes
    incremental yes
    restore_command rdiff-backup -v 5 -r %VERSION% %BACKUP_DIR% %DATA_DIR%

copy_method ssh-gz
    command ssh -c blowfish %SSH_USER%@%IP% "cd '%SNAPSHOT%'; tar cv !'%CLONE_DIR%'!" | gzip > %DEST_DIR%/backup.tar.gz
    single_run yes
    restore_command cd %DATA_DIR%; tar xzfv %BACKUP_DIR%/backup.tar.gz

# Cluster hosts addresses and access params
host dbr1
    ip 172.16.1.1
    ssh_user root
    lvm_snapshot_size 16G
    lvm_data_volume datalv
    lvm_volume_group lvg1
    lvm_mount_dir /mmm_snapshot
    lvm_mount_opts -orw
    mysql_host 192.168.1.1
    mysql_port 3306
    mysql_user rep_monitor
    mysql_password RepMonitor
    my_cnf /etc/my.cnf
    rc_script /etc/init.d/mysql
    pid_file /data/mysql/dbr1.pid
    mmm_dir /usr/local/mmm

host dbr2
    ip 172.16.1.2
    ssh_user root
    lvm_snapshot_size 16G
    lvm_data_volume datalv
    lvm_volume_group lvg1
    lvm_mount_dir /mmm_snapshot
    lvm_mount_opts -orw
    mysql_host 192.168.1.2
    mysql_port 3306
    mysql_user rep_monitor
    mysql_password RepMonitor
    my_cnf /etc/my.cnf
    rc_script /etc/init.d/mysql
    pid_file /data/mysql/dbr2.pid
    mmm_dir /usr/local/mmm

