#
# Master-Master Manager config (agent)
#

# Debug mode
debug no

# Paths
pid_path /usr/local/mmm/var/mmmd_agent.pid
bin_path /usr/local/mmm/bin

# Logging setup
log mydebug 
    file /usr/local/mmm/var/mmm-debug.log
    level debug

log mytraps 
    file /usr/local/mmm/var/mmm-traps.log
    level trap

# MMMD command socket tcp-port and ip
bind_port 9989

# Cluster interface
cluster_interface eth1

# Define current server id
this db10
mode slave

# For masters
# peer db8

# Replication credentials
replication_user replication
replication_password slave

# Cluster hosts addresses and access params
host db8
    ip 192.168.1.8
    port 3306
    user rep_agent
    password RepAgent

host db9
    ip 192.168.1.9
    port 3306
    user rep_agent
    password RepAgent

host db10
    ip 192.168.1.10
    port 3306
    user rep_agent
    password RepAgent
